{% extends 'content/main.html' %}

{% block leftcontent %}
<div style="width:600px; margin-right:430px">
  <!-- 메인 피드 내용 채우기 -->
  {%for content in user_info.contents %}
    <div style="margin-bottom:30px; border:solid 1px gray; background-color:white;">
      <div style="display: flex; flex-direction:row; justify-content: space-between; align-items:center; margin-left: 10px;">
        <div style="display: flex; flex-direction:row; align-items:center; margin-left: 10px;">
          <div class="box" style="width:50px; height:50px; border-radius:70%; overflow:hidden; margin:5px;">
            <img class="profile" style="width:100%; height:100%; object-fit:cover;" src="{{user_info.profile}}">  
          </div>
          <div>
            {{user_info.nickname}}
          </div>
        </div>
      </div>
      <div>
        <img class="content_image" style="width: 95%;" src="{{content.content_image}}">
      </div>
      <div style="display:flex; flex-direction:row; justify-content:space-between; margin:0 10px;">
        <div>
          <!-- 하트 누를 때 변하기 액션 -->
          <span id="like_action_{{content.id}}" class="material-icons like_action">
            {% if content.id in user_info.feed_number %}
              <button id="view_feed_like_{{content.id}}" class="like_btn" style="border: none; outline: none; background-color: white;"> favorite </button>
            {% else %}
              <button id="non_view_feed_like_{{content.id}}" class="like_btn" style="border: none; outline: none; background-color: white;"> favorite_border </button>  
            {% endif %}
          </span>
        </div>
        <div>
        </div>
      </div>
      <div style="text-align: left; font-size: 10px; margin-left: 10px;"><b>{{content.heart_count}}</b>명이 좋아합니다</div>
      <div style="display:flex; flex-direction:row; margin:20px 10px;">
        <div style="font-size: 12px; font-weight: bold;">{{user_info.nickname}}</div>
        <div style="font-size: 12px; margin-left: 5px; margin-bottom: 15px;">{{content.content_text}}</div>
      </div>
        <!-- 댓글 내용 채우기 -->
        {%for comment in user_info.comments %}
          {% if content.id == comment.feed_number %}
            <div style="display:flex; flex-direction:row; justify-content:space-between;"> 
              <div style="display:flex; flex-direction:row;">
                <div style="text-align: left; font-size: 12px; margin-left: 10px;">
                  <b>{{comment.comment_user_nickname}}</b>
                </div>
                <div style="text-align: left; font-size: 12px; margin-left: 10px;">
                  {{comment.comment_text}}
                </div>
              </div>
                <div style="text-align: left; font-size: 5px;">
                  {% if comment.comment_user_nickname == user_info.session_user.nickname %}
                    <span class="material-icons">
                      <button id="comment_delete_{{comment.id}}" class="comment_delete" style="background: none; border: none;"> delete </button>
                    </span>
                  {% endif %}
                </div>
              </div> 
          {% endif %}
        {% endfor %}
      <div style="display:flex; flex-direction:row; justify-content:space-between; border-top: solid 1px gray;">
        <textarea id="comment_text_{{content.id}}" clss="comment_text" style="box-shadow:none; border:none; outline:none;" type="text" class="form-control" id="comment-input" placeholder="댓글달기..."></textarea>
        <button id="comment_button_{{content.id}}" class="btn btn-primary comment_button" style="width: 10%; font-size: 14px;">전송</button>
      </div>
    </div>
  {% endfor %}
</div>
<script>
// otherlink move action
$('.link_move').click(function(){
  let other_user_id = $(this).attr('id').replace('link_move_','');

  let fd = new FormData;
  fd.append('other_user_id', other_user_id)

  $.ajax({
    url: '/content/session_add',
    method: "POST",
    data:fd,
    headers: {
      'other_user_id':other_user_id,
      'X-CSRFToken': csrf_token
    },
    processData: false,
    contentType: false,
    success: function(data){
      console.log("성공");
    },
    error: function(request, status, error){
      console.log("에러");
    },
    complete: function(){
      console.log("완료");
      location.replace('/otheruser/content')
    }
  });
});
</script>
{% endblock %}

{% block rightcontent %}
<div style="width:450px; background:white; position:fixed; left: 58%">
  <div style="display: flex; flex-direction:row; align-items:center; margin-left: 20px;">
    <div class="box" style="width:70px; height:70px; border-radius:70%; overflow:hidden; margin:5px;">
      <img class="profile" style="width:100%; height:100%; object-fit:cover;" src={{user_info.session_user.profile_image}}>
    </div>
    <div style="margin-left: 10px;">
      <div id="feed_username" style="font-weight: bold;">
        {{user_info.session_user.nickname}}
      </div>
      <div style="color:gray;">
        {{user_info.session_user.realname}}
      </div>
    </div>
    <div style="display: flex; flex-direction:column; margin-left: 50px;">            
      <div style="font-weight: bold;">
        팔로워
      </div>
      <div>
        {{user_info.follower}}
      </div>
    </div>
    <div style="display: flex; flex-direction:column; margin-left: 50px;">
      <div style="font-weight: bold;">
        팔로우
      </div>
      <div>
        {{user_info.following}}
      </div>
    </div>
  </div>
  <div style="display:flex; flex-direction:row; justify-content:space-between; margin:0 10px;"> 
    <span style="font-weight: bold; color:gray;"> 회원님을 위한 추천 </span> 
    <div></div>
  </div>
  {% for exclude_user in user_info.exclude_users %}
  <div style="display: flex; flex-direction:row; align-items:center;  justify-content:space-between; margin:0 10px;">
    <div style="display: flex; flex-direction:row; margin:0 20px;">
      <div class="box" style="width:35px; height:35px; border-radius:70%; overflow:hidden; margin:5px;">
        <img class="profile" style="width:100%; height:100%; object-fit:cover;" src="{{exclude_user.profile_image}}">
      </div>
      <div style="left:5px; font-size:12px;">
        <div style="text-align:left; font-weight: bold;">
          <a id="link_move_{{exclude_user.id}}" class="link_move" href="{% url 'otheruser_app:otheruser_home' %}" style="color:black;">
            {{exclude_user.nickname}}
          </a>
        </div>
        <div style="color:gray;">
          {{exclude_user.follow_number}}명이 팔로우 합니다
        </div>
      </div>
    </div>
    <div>
      {% if exclude_user.email in user_info.follow %}
        <a id="follow_select_{{exclude_user.id}}" class="follow_select" style="font-weight:bold; text-decoration:none;" href="#">팔로우중</a>
      {% else %}
        <a id="non_follow_select_{{exclude_user.id}}" class="follow_select" style="font-weight:bold; text-decoration:none;" href="#">팔로우</a>
      {% endif %}
      </div>
  </div>
  {% endfor %}
  <div style="color:gray; text-align:left; font-size:12px; margin-top:20px; margin-left:25px">
    <div> 소개 도움말 홍보센터 API 채용정보</div>
    <div> 개인정보처리방침 약관 위치 인기계정 해시태그 언어 </div>
  </div>
</div>
{% endblock %}
{% block profile_update_image %}
<div style="display: flex; flex-direction:row; width:100%; height:93%;">
  <div  style="display: flex; flex-direction: column;">
    <div style="text-align: center; font-weight: bold;">현재 프로필 이미지 && 변경 프로필 이미지</div>
    <div class="image_upload" style="width:90%; height:100%; margin: 0 20px;">
      <img id="profile_update_image" class="profile" style="width:100%; height:100%; object-fit:cover;" src="{{user_info.session_user.profile_image}}">       
    </div>
  </div>
  <div class="profile_update_area" style="width:60%; height:100%; outline: soild 1px gray;">
    <div style="display: flex; flex-direction:row; align-items:center;">
      <div class="box" style="width:50px; height:50px; border-radius:70%; overflow:hidden; margin:5px;">
        <img id="profile_preview_box" class="profile" style="width:100%; height:100%; object-fit:cover;" src="{{user_info.session_user.profile_image}}">  
      </div>
      <div id="update_user_nick_name">{{user_info.session_user.nickname}}</div>
    </div>
    <div class="profile_update_box" style="margin: 15px 0;">
      <div class="profile_email" style="margin: 10px; margin-left:20px;">
        이메일 주소: <b>{{user_info.session_user.email}}</b>
      </div>
      <div class="profile_nickname" style="margin: 10px; margin-left:20px;">
        유저 아이디: <b>{{user_info.session_user.nickname}}</b>
      </div>
      <div id="new_image_upload" style="margin: 10px; margin-left:20px; display:flex; flex-direction:column;">
        <div style="display:flex; flex-direction:raw;">
          <div> 프로필 변경: </div>
          <button id="profile_image_preview_button" style="margin-left:15px; font-weight:bold; text-decoration:none; color: white; background: red;">미리보기</button>
        </div>
        <input id="profile_image_upload_input" type="file" name="image" id="image" accept="image/*">
      </div>
      <div style="margin: 10px; margin-left:20px; display:flex; flex-direction:row;"> 
        <div> 비밀번호 변경하기: </div>
        <a href="#" id="password_update_controller" style="margin-left:10px;">수정하기</a>
      </div>
      <div id="profile_password_update" style="margin: 10px; margin-left:20px; display:none; flex-direction:column;">
        <div class="now_password">
          <div class="password_input_tool"> 
            <div class="form-floating mb-3" style="display: flex; flex-direction:row; justify-content:space-between; width: 81%;">
                <input type="password" style="font-size: 14px; min-height:0%; height: 10px;" id="profile_now_password" class="form-control"  placeholder="Password">
                <label for="floatingInput" style="font-size: 8px; padding: 4px 10px;">현재 비밀번호</label>
            </div>
          </div>
        </div>
        <div class="update_paswword">
          <div class="password_input_tool"> 
            <div class="form-floating mb-3" style="display: flex; flex-direction:row; justify-content:space-between; width: 81%;">
                <input type="password" style="font-size: 14px; min-height:0%; height: 10px;" id="profile_update_password" class="form-control" placeholder="Password">
                <label for="floatingInput" style="font-size: 8px; padding: 4px 10px;">변경 비밀번호</label>
            </div>
          </div>
        </div>
        <div>
          <div class="password_input_tool"> 
            <div class="form-floating mb-3" style="display: flex; flex-direction:row; justify-content:space-between; width: 81%;">
                <input type="password" style="font-size: 14px; min-height:0%; height: 10px;"id="profile_update_password_confirm" class="form-control" placeholder="Password">
                <label for="floatingInput" style="font-size: 8px; padding: 4px 10px;">비밀번호 확인</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" id="profile_content_update_btn" class="btn" style="width: 85%; height: 10%; color: white; background: blue;">수정완료</button>
  </div>
</div>
{% endblock %}